* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 2rem;
    text-shadow: 1px 1px azure;
}
.galery {
    background: green;
}
