@import 'colors';
@import 'variables';
@import 'animation';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
}
body {
    background-color: black;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    transition: 0.2s;
    color: $nav-text-hover;
}
a.focus {
    outline: none;
}
i:hover {
    cursor: pointer;
}
.slaider {
    @extend %mixinSection;
    flex-flow: column;
    background: $slaider-background;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: background-image 3s ease-in-out;
    .slaider-menu {
        position: fixed;
        top: 0;
        width: $slaider-menu-width;
        height: $slaider-menu-height;
        text-align: right;
        padding: $slaider-menu-padding-ver $slaider-menu-padding-hor;
        text-shadow: 1px 1px darken($nav-background,40%);
        z-index: 999;
        &:hover {
            transition: 0.2s;
            background-color: $nav-background;
        }
        .fa-bars, .fa-times{
            display: none;
        }
        .slaider-menu-items {
            li{
                display: inline-block;
                padding-left: 1.2em;
            }
        }
        @media (max-width: 800px){
            .fa-bars, .fa-times{
                z-index: 1000;
                display: block;
                padding: 10px 0 10px 10px;
            }
            .slaider-menu-items {
                display: none;
            }
            .slaider-menu-items-show {
                display: block;
                padding-top: 12px;
                li {
                    display: block;
                    line-height: 2em;
                }
            }
        }
    }
    .left-arrow {
        @extend %mixinArrow;
        left: $slaider-menu-padding-hor;
        transform: scale(1);
        transition: 0.2s;
        &:hover {
            @extend %mixinHoverEffect;
        }
    }
    .right-arrow {
        @extend %mixinArrow;
        right: $slaider-menu-padding-hor;
        text-align: right;
        transform: scale(1);
        transition: 0.2s;
        &:hover {
            @extend %mixinHoverEffect;
        }
    }
    #msg {
        display: block;
        position: absolute;
        max-width: 50%;
        bottom: 5.2rem;
        text-align: center;
        background-color: $msg-background;
        padding: $slaider-menu-padding-ver 30px;
        text-shadow: 1px 1px darken($msg-background,40%);
        .picture-title {
            display: block;
            font-size: 1.1rem;
        }
        .picture-description {
            display: none;
            padding-top: $slaider-menu-padding-ver;
            font-size: 0.9rem;
        }
    }
    .slaider-active-pictures {
        position: absolute;
        bottom: $slaider-menu-padding-ver;
        height: 1.2em;
        .active-picture {
            color: white;
            li {
                display: inline-block;
                padding-right: 1.1em;
                i {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.gallery {
    @extend %mixinSection;
    background: $galery-background;
    flex-flow: column;
    text-align: center;
    h2 {
        margin: 100px 10px 50px 10px;
        font-size: 2rem;
    }
    .container{
        width: 90%;
        margin: 30px 0 30px 0;
        .group-images {
            width: 100%;
            .images {
                width: 100%;
                li {
                    display: inline-block;
                    width: 31%;
                    margin-right: 3%;
                    margin-bottom: 3%;
                    &:nth-child(3n+3) {
                        margin-right: 0;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                @media (max-width: 490px) {
                    li {
                        display: block;
                        width: 93%;
                        margin: 3%;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}
.load-more {
    @extend %mixinSection;
    align-items: baseline;
    min-height: 100px;
    background: $galery-background;
    .load-btn {
        background: darken($load-btn-background,10%);
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        &:hover {
            background: lighten($load-btn-background, 10%);
        }
        &:focus {
            outline: none;
            box-shadow: 0px 0px 3px 3px #c86200 inset;;
        }
    }
}
