.wrapper {
  perspective: 1000px;
  .inner {
    transform: rotateX(60deg);
    .planet {
      margin: 50px auto;
      width: 77px;
      height: 130px;
      background: white;
      border-radius: 50%;
      box-shadow: -1px -1px 3px 0px gray, -6px -15px 64px 0px #0056c9 inset;
    }
    .loading{
      width:160px;
      height: 160px;
      border-radius:50%;
      border: solid white;
      border-top-color:rgba(0,0,0,0.0);
      border-width: 5px 0 5px 5px;
      position:absolute;
      top:50%;left:50%;
      margin-top:-80px;
      margin-left:-80px;
      animation: loading 1.2s linear infinite;
      -webkit-animation:loading 1.2s linear infinite;
    }
  }
}
@keyframes loading{
  0%{transform:rotate(0deg)}
  // 1% {z-index: -1 }
  // 90% {z-index: 1}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    animation-play-state:paused;
}
