.universe {
    position:relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9;
}
.universe2 {
    position:relative;
    z-index: 9;
    top: -160px;
    height: 0px;
    .planet {
        background: #ff8c08;
        -webkit-mask-image: -webkit-gradient(linear, left top,
        left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        box-shadow: -1px -1px 3px 0px #ff8c08, -6px -15px 64px 0px #9a2b00 inset;
    }
    .wrapper {
        .inner {
            .loading {
                border-radius:50%;
                border: solid #ff8c08;
                border-top-color:rgba(0,0,0,0.0);
                border-width: 5px 0 5px 5px;
            }
        }
    }
}
.planet {
    position: relative;
    z-index: 10;
    top: calc(50% - 38px);
    left: calc(50% - 38px);
    width: 77px;
    height: 77px;
    background: white;
    -webkit-mask-image: -webkit-gradient(linear, left top,
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    border-radius: 50%;
    box-shadow: -1px -1px 3px 0px white, -6px -15px 64px 0px white inset;
}
.wrapper {
  perspective: 1000px;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 21px);
  .inner {
    transform: rotateY(60deg) rotateX(60deg);
    .loading{
      width:160px;
      height: 160px;
      border-radius:50%;
      border: solid white;
      border-top-color:rgba(0,0,0,0.0);
      border-width: 5px 0 5px 5px;
      position: relative;
      z-index: 1;
      top: calc(50% - 38px);
      left: calc(50% - 38px);
      margin-top:-80px;
      margin-left:-80px;
      animation: loading 1.2s linear infinite;
      -webkit-animation:loading 1.2s linear infinite;
    }
  }
}
@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    animation-play-state:paused;
}
